In [1]:
import pandas as pd

df = pd.read_csv('Mariab_all_branches - Sheet1(2).csv')

In [2]:
df.head()

,City,Branch Name,Address,Latitude,Longitude
0,Lahore,Mini Market Lahore 2,"117-P, Gulberg II, (near mini market round abo...",31.522257,74.350771
1,Lahore,DHA Z Block Lahore-1,"Z-7, commercial area opp. Mcdonalds dha, lahor...",31.472612,74.376642
2,Lahore,Mini Market Lahore 2,"117-P, Gulberg II, (near mini market round abo...",31.522377,74.350824
3,Lahore,Lake City Lahore,"MARIA.B. Designs Shop # 3 GR, Lake City Mall 1...",31.427111,74.225310
4,Lahore,Liberty,"Shop No 2 Ground Floor, Zarina Shopping Mall L...",31.509199,74.346172

In [3]:
branch1 = 'Mariab Bridal Shop Lahore Branch'
branch2 = 'Mariab DHA Branch Lahore'

In [4]:
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in kilometers

    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Compute differences
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = R * c
    return distance

def calculate_distance(df, branch1, branch2):
    # Extract the coordinates of the specified branches
    lat1 = df.loc[df['Branch Name'] == branch1, 'Latitude'].values[0]
    lon1 = df.loc[df['Branch Name'] == branch1, 'Longitude'].values[0]
    lat2 = df.loc[df['Branch Name'] == branch2, 'Latitude'].values[0]
    lon2 = df.loc[df['Branch Name'] == branch2, 'Longitude'].values[0]

    # Calculate the distance
    distance = haversine(lat1, lon1, lat2, lon2)
    return distance

In [ ]:
# print(calculate_distance(df, branch1, branch2))

In [6]:
import itertools

# Get all possible pairs of branches
branch_pairs = list(itertools.combinations(df['Branch Name'], 2))

# Compute distances for each pair
distances = []
for branch1, branch2 in branch_pairs:
    distance = calculate_distance(df, branch1, branch2)
    distances.append((branch1, branch2, distance))

# Create a DataFrame to display the distances
distances_df = pd.DataFrame(distances, columns=['Branch 1', 'Branch 2', 'Distance (km)'])
distances_df

                     Branch 1              Branch 2  Distance (km)
0        Mini Market Lahore 2  DHA Z Block Lahore-1       6.040771
1        Mini Market Lahore 2  Mini Market Lahore 2       0.000000
2        Mini Market Lahore 2      Lake City Lahore      15.921577
3        Mini Market Lahore 2               Liberty       1.516036
4        Mini Market Lahore 2  Emporium Mall Lahore      10.141647
..                        ...                   ...            ...
590       Mall of Sargodha-02                Sukkur     610.484486
591       Mall of Sargodha-02                 Sawat     302.598987
592  Brand Village Sialkot-02                Sukkur     768.646409
593  Brand Village Sialkot-02                 Sawat     321.520700
594                    Sukkur                 Sawat     852.825418

[595 rows x 3 columns]

In [7]:
# Save the DataFrame to a CSV file
distances_df.to_csv('branch_distances(2).csv', index=False)